div.header
  ul.nav.nav-pills.pull-right
    li(sd-active='^/?$')
      a(href='#') Home
    li(sd-active='^/events')
      a(href='#/events') Events
    li(sd-active='^/about')
      a(href='#/about') About
    li(sd-active='^/contact')
      a(href='#/contact') Contact
  h3.text-muted Speed dating