doctype html
html(ng-app='speedDatingApp')
  head
    title Dateable
    link(rel='stylesheet', href='/stylesheets/client.css')
  body
    div.container
      include header
      block content
      include footer
