header.intro-header
  h1 {{ event.name }}
  p.lead
    | {{ event.description }}

.row.marketing
  div(ng-repeat="publisher in ['A', 'B', 'C', 'D']")
    .col-lg-6
      h4 Publisher {{ publisher }}
      p
        | {{ msg }}