header.page-header
  h1 {{ event.name }}
  p.lead
    | {{ event.description }}

.row.marketing
  .col-lg-6(ng-repeat="stream in event.streams")
    h4 Stream {{ stream }}
    p
      | Add stream video here.
  .col-lg-6
    h4 Publisher {{ publisher }}
    sd-publisher(event='event')