.jumbotron
  h1 About
    p.lead
      | Dateable is a website that allows singles to engage in one minute speed dates online.
    p
      a.btn.btn-lg.btn-success(href='#/events', role='button') Get started