h1 Contact
  p.lead
    | Dateable was created by Luke Eller.
  iframe(src='http://ghbtns.com/github-btn.html?user=bc-luke&repo=dateable&type=watch&size=large', allowtransparency='true', frameborder='0', scrolling='0', width='74', height='30')

